.places{
    display: grid;
    grid-gap: 80px;
    padding-top: 92px;
}

@media screen and (max-width: 1023px) {
    .places {
        grid-gap: 72px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        grid-gap: 50px;
        padding-top: 64px;
    }
}