@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("vendor/fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
    url("vendor/fonts/Inter-Regular.woff?v=3.15") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("vendor/fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
    url("vendor/fonts/Inter-Bold.woff?v=3.15") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url("vendor/fonts/Inter-Black.woff2?v=3.15") format("woff2"),
    url("vendor/fonts/Inter-Black.woff?v=3.15") format("woff");
}

.page{
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #fff;
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(100% - 48px*2);
    margin-right: auto;
    margin-left: auto;
    padding-top: 28px;
    border: red 1px solid;
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: calc(100% - 16px*2);
        padding-top: 16px;
    }
}

.header__logo {
    max-width: 176px;
    max-height: 52px;
    border: red 1px solid;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        min-height: 42px;
    }
}

.header__lang-links {
    margin-top: 0;
    margin-bottom: 6px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 29px 1fr;
    grid-gap: 18px;
    list-style-type: none;
    border: red 1px solid;
}

.header__lang-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}

/*@media screen  and (max-width: 767px) {*/
/*    .header__lang-link {*/
/*        font-size: 18px;*/
/*    }*/


.header__lang-link:hover{
    text-decoration: underline #ffffff;
}

.link-hover:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.3;
}

.lead {
    margin-top: 56px;
    width: calc(100% - 148px*2);
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

}


@media screen and (max-width: 1279px) {
    .lead {
        width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        min-width: 100%;

    }
}

@media screen and (max-width: 767px) {
    .lead {
        min-width: 100%;
        margin-top: 48px;
    }
}


.lead__title {
    width: calc(100% - 132px * 2);
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin: auto;
    min-height: 200px;
}


@media screen and (max-width: 1279px) {
    .lead__title {
        width: calc(100% - 152px*2);
    }
}

@media screen and (max-width: 1023px) {
    .lead__title {
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: calc(100% - 16px*2);
        min-height: 88px;
        font-size: 40px;
    }
}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.25;
    width: calc(100% - 172px*2);
    text-align: center;
    margin: 32px auto 0;
    vertical-align: text-top;
}


@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: calc(100% - 16px*2);
        font-size: 16px;
        margin-top: 16px;
        text-align: left;

    }
}

.lead-polka{
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}


.lead-polka__photo {
    display: block;
    vertical-align: top;
    margin-top: 64px;
    margin-right: 0;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .lead-polka__photo {
        margin-top: 56px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead-polka__photo {
        margin-top: 40px;
        width: 100%;
    }
}

.lead-polka__quote {
    margin-bottom: 0;
    margin-top: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .lead-polka__quote {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead-polka__quote {
        margin-right: 16px;
        margin-left: 16px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    width: calc(100% - 294px);
    margin-top: 92px;

}

@media screen and (max-width: 1279px) {
    .intro {
        width: calc(100% - 286px);
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: calc(100% - 44px);
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 64px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: calc(100% - 32px);
        align-self: center;
        margin-top: 64px;
        margin-right: 16px;
        margin-left: 16px;
    }
}

.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
    border: red 1px solid;
    margin-top: 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        vertical-align: text-top;
        text-align: left;
    }
}





.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    border: red 1px solid;
    margin-top: 0;
    margin-bottom: 32px;
}

.list {
    list-style-type: none;
    border: red 1px solid;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

.list__item {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

.photo-grid-list {
    padding-left: 3.75%;
    padding-right: 3.75%;
    box-sizing: border-box;
    margin-top: 92px;
    margin-bottom: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 213px;
    min-width: 284px;
    grid-template-rows: auto;
    grid-gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid-list {
        min-width: 300px;
        min-height: 225px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid-list {
        min-width: 352px;
        min-height: 264px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid-list {
        min-width: 288px;
        min-height: 216px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
    margin-top: 64px;
    }
}

.photo-grid__item {
    width: 100%;
    height: 100%;
}

.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
    padding-left: 148px;
    padding-right: 148px;
    margin-top: 92px;
}

@media screen and (max-width: 1279px) {
    .place {
        width: 91%;
        padding-left: 48px;
        padding-right: 48px;
        grid-template-columns: 440px 1fr;

    }
}

@media screen and (max-width: 1023px) {
    .place {
        width: 94%;
        grid-template-columns: 340px 1fr;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column;
        padding-right: 16px;
        padding-left: 16px;
        min-width: 288px;
        margin-top: 64px;
    }
}

.place__image {
    width: 100%;
    min-height: 460px;
    object-fit: cover;

}

@media screen and (max-width: 1279px) {
    .place__image {
        min-height: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        min-height: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
       transform: translate(-16px);
        top: 32px;
        min-width: 320px;
        min-height: 320px;
        object-fit: cover;

    }
}

.place__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
}

.place__paragraph:nth-of-type(2) {
    margin-top: 26px;
}

.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 87%;
    margin-top: 0;
    margin-bottom: 0;
    border: red 1px solid;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
    }
}

.place__website {
    align-self: end;
}

.place__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 12px;
}

.place__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}


.cover {
    padding-top: 92px;
}

.cover__background{
    text-decoration: none;

}

.cover__item {
    background-image: url("blocks/cover/__background/cover-trains.jpg");
    object-fit: cover;
    background-size: cover;
    width: calc(100% - 96px);
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 1;
}

.cover__item:before{
    content: "";
    background: #2A2C2F;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.cover__item:hover:before{
    opacity: 0.8;

}


@media screen and (max-width: 1279px) {
    .cover__item {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__item {
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__item {
        width: 100%;
        min-height: 200px;
        background-size: cover;
        object-fit: fill;
    }
}

.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    max-width: 562px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        margin-top: 33px;
    }
}

.cover__subtitle {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 360px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 33px;

    }
}

.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px*2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 24px*2);
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
    }
}

.footer__links {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}

.footer__item {
    margin-top: 0;
    margin-bottom: 24px;
    color: #ffffff;
    text-decoration: none;
    display: list-item;
    margin-right: 20px;
}

@media screen and (max-width: 767px) {
    .footer__item {
        flex-direction: column;
        font-size: 24px;
        margin-top: 32px;
    }
}

.footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    border: red 1px solid;
    line-height: 112%;
    font-size: 16px;
    font-weight: 400;

}

@media screen and (max-width: 1023px) {
    .footer__copyright {
        text-align: right;

    }
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
        text-align: left;
    }
}