.place__image {
    width: 100%;
    min-height: 460px;
    object-fit: cover;
}

@media screen and (max-width: 1279px) {
    .place__image {
        min-height: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        min-height: 340px;
        object-fit: cover;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        width: 100%;
        top: 32px;
        min-width: 320px;
        object-fit: cover;
        box-sizing: border-box;
        transform: translate(-16px);
    }
}