.lead__title {
    width: 73%;
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 1279px) {
    .lead__title {
        width: 70%;
    }
}

@media screen and (max-width: 1023px) {
    .lead__title {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
    }
}