.footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 114%;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
        text-align: left;
        line-height: 100%;
    }
}