.footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    border: red 1px solid;
    line-height: 112%;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1023px) {
    .footer__copyright {
        text-align: right;
    }
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
        text-align: left;
    }
}