.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    max-width: 640px;
    text-align: center;
    margin: 32px auto 0;
    vertical-align: text-top;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: 90%;
        font-size: 16px;
        margin-top: 16px;
    }
}