.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 106%;
    color: #ffffff;
    width: 47%;
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        width: 55%;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        line-height: 109%;
        font-size: 32px;
        width: 90%;
    }
}

