.lead-figure__photo {
    display: block;
    vertical-align: top;
    margin-top: 64px;
    margin-right: 0;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .lead-figure__photo {
        margin-top: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead-figure__photo {
        margin-top: 40px;
    }
}